:root {
  --color1: black;
  --color2: white;
}
body {
  background: #a19eae;
  background: radial-gradient(at center, #e3e2e7, #96998d);
  display: grid;
  place-content: center;
}
#selectmaps {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  margin-bottom: 1em;
}
#selectmaps > select {
  width: 20em;
  margin: 1em;
}
#container {
  width: 95vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#data-section #data-buttons {
  margin-bottom: 0px;
  color: rgb(83, 83, 81);
}
#data-section #data-buttons i:hover {
  transform: scale(1.05);
  cursor: pointer;
}
#data-section #data-buttons label {
  font-size: x-large;
  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 1px 1px;
  cursor: pointer;
}
#data-section #data-buttons label > input {
  display: none;
}

#data-section fieldset > div:last-child {
  width: 20vw;
  height: 70vh;
  padding: 1px;
}
#spreadsheet {
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  /* margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0; */
}

#map-section {
  flex-grow: 1;
  width: 100%;
  height: 90vh;
  padding: 1px;
}
#map-section svg {
  width: 100%;
  height: 100%;
  border: solid 1px black;
}
#settings-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
  flex-wrap: wrap;
  width: 20vw;
  padding: 1px;
}
#settings-section fieldset {
  background: white;
}

/* SETTINGS */
#settings-section > div {
  width: 350px;
  margin: 1px;
}
#settings-section legend {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  background-color: #000;
  background: radial-gradient(at center, #dceb08, #3cc4d6);
  color: #fff;
  padding: 3px 6px;
}

#usercolor-settings > fieldset {
  display: grid;
  grid-template-columns: 23% 10% auto;
  /* grid-template-rows: 1.8em 1.8em 1.8em 1.8em; */
  grid-gap: 6px;
}
#usercolor-settings > fieldset > div {
  margin-left: 2rem;
  align-self: center;
  justify-self: start;
}
#selected-fill-color-palette {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-x: hidden;
}

.color-btn {
  margin: 2px;
  width: 15px;
  height: 15px;
  background-color: grey;
  border: 1px solid rgb(105, 90, 90);
}
.color-btn:hover {
  margin: 1px;
  border: 2px solid black;
  transform: scale(1.05);
}

#color-palette-container {
  display: flex;
  flex-wrap: wrap;
}
#color-palette-container .paletteCard {
  display: flex;
  flex-direction: row;
  margin: 3px;
}
#color-palette-container .smcard {
  width: 40px;
  height: 20px;
}

#color-palette-container .xxlcard {
  width: 100%;
  height: 50px;
  order: 99;
}
#color-palette-container .xxlcard:hover {
  transform: none !important;
}
#color-palette-container .paletteCard:hover {
  transform: scale(1.05);
}

#color-palette-container .xbox {
  flex-grow: 1;
  width: 4px;
  height: 100%;
}
label {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.6em;
}

#title-settings > fieldset > div {
  display: grid;
  grid-template-columns: 12% auto 9% 9%;
  grid-template-rows: 1.8em 1.8em 1.8em;
  grid-gap: 3px;
}
#title-settings label {
  align-self: center;
  justify-self: end;
}
fieldset.loose {
  opacity: 0.5;
  pointer-events: none;
}

#label-settings > fieldset {
  display: grid;
  grid-template-columns: 14% 80%;
  grid-gap: 3px;
}

#label-settings > fieldset > label {
  display: inline-block;
  width: 3em;
  height: 2em;
  margin: 2px;
  background-color: #776f6f;
}
/* NINESIDES NINESIDES NINESIDES NINESIDES NINESIDES NINESIDES */
.ninesides {
  display: inline-grid;
  grid-template-columns: 8px 8px 8px;
  grid-template-rows: 8px 8px 8px;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  justify-items: center;
  align-items: center;
  /* border: solid 1px black; */
  padding: 1px;
}
.ninesides-item {
  width: 8px;
  height: 8px;
  background-color: black;
}
.ninesides-item:hover {
  transform: scale(1.05);
  background-color: beige;
  border: solid 1px black;
}
